# **Lists**

In [17]:
# create a list
num = [1,2,3,4,5,6,7,8,9,10]
print(f"List: {num}")

# find the maximum value
max_val = max(num)
print(f" Max value : {max_val}")

# find the minimum value
min_val = min(num)
print(f' Min value : {min_val}')

# sum of all values
sum_vals = sum(num)
print(f' Sum : {sum_vals}')

# add 11 in list
num.append(11)
print(f'New List: {num}')

# remove 2 from the list
num.remove(2)
print(f'Update list : {num}')

# assending order
num.sort()
print(f'Assending order : {num}')

# decending order
num.sort(reverse=True)
print(f'Decending order : {num}')

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 Max value : 10
 Min value : 1
 Sum : 55
New List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Update list : [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Assending order : [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Decending order : [11, 10, 9, 8, 7, 6, 5, 4, 3, 1]

# **Tuple**

In [27]:
# create a tuple with 5 fruits name
fruits = ('Apple','Banana','Cherry','Mango','Orange')
print(f'Fruits: {fruits}')

# Modification
# fruits.append('Grapes')
# print(f'New fruits: {fruits}')

#convert tuple into list
List = list(fruits)
List.append('Grapes')
fruits = tuple(List)
print(f'New fruits: {fruits}')

Fruits: ('Apple', 'Banana', 'Cherry', 'Mango', 'Orange')
New fruits: ('Apple', 'Banana', 'Cherry', 'Mango', 'Orange', 'Grapes')

# **Sets**

In [30]:
# create a set
std_01 = {"Asif","Hassam","Yawar"}
std_02 = {"Rehman","Azan","Bilal"}
print(f' BSE 6C Students: {std_01}')
print(f' BSE 6B Students: {std_02}')

 BSE 6C Students: {'Yawar', 'Hassam', 'Asif'}
 BSE 6B Students: {'Rehman', 'Azan', 'Bilal'}
Yawar
Hassam
Asif

# **Dictionaries**

In [33]:
# create a dictionary of student
std_info = {
    'name': 'Yawar Hussain',
    'reg_no': 'SP23-BSE-122',
    'section': 'BSE 6C',
    'Age':22,
    'Gender':'Male'
}
# change the value of age
std_info['Age'] = 23

for key,value in std_info.items():
  print(f'{key} : {value}')

name : yawarhussain
reg_no : SP23-BSE-122
section : BSE 6C
Age : 23
Gender : Male

# **Numpy**

# **Matlab**